.fight {
  position: relative;
  padding-top: 40px;
}

.fight h3 {
  font-size: 25px;
}

.fight p {
  margin: 10px 0;
}

.image {
  margin-bottom: 20px;
}

.controls {
  position: absolute;
  right: 30px;
  top: 0;
}

.delete {
  margin-left: 20px;
  color: var(--warning-color);
}

.back {
  display: block;
  margin-top: 40px;
}
